* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    --font-color: rgb(21, 21, 21);
    --main-color: rgb(255, 255, 255);
    --secondary-color: rgb(116, 192, 252);
    font-family: "Poppins", sans-serif;
    color: var(--font-color);
}

body {
    background-color: var(--main-color);
}

#registerNavButton {
    background-color: var(--secondary-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
    position: relative;
    top: 16vh;
}

.main-heading {
    color: var(--secondary-color);
    font-size: 4vw;
    width: auto;
    margin-bottom: 3vw;
}

.main-content {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3vw;
}

#filters {
    width: 15vw;
}

#filters form {
    display: flex;
    flex-direction: column;
}

.filter-selector, .order-by-selector {
    background: var(--main-color);
    box-shadow: none;
    border-style: solid;
    border-color: var(--font-color);
    width: 15vw;
    padding: 0.4vw;
    margin: 1vw 0;
    border-width: 1px;
    cursor: pointer;
    transition: all linear 0.1s;
}

#apply-filters-btn {
    width: 8vw;
    margin: 1vw 1vw 1vw 0;
    padding: 0.4vw;
    background-color: var(--main-color);
    border: 1px solid var(--font-color);
    border-radius: 0;
    cursor: pointer;
    transition: all linear 0.1s;
}

#apply-filters-btn:hover {
    background-color: var(--secondary-color);
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 55vw;
    gap: 3rem;
}

#order-by-container {
    height: fit-content;
    width: 100%;
    justify-content: end;
    display: flex;
}

.order-by-selector {
    margin: 0;
}

.card {
    transition: all linear 0.2s;
}

.card:hover {
    transform: scale(1.2);
}

.carousel-control-next, .carousel-control-prev {
    background: rgba(80, 80, 80, 0.8);
}

@media screen and (max-width: 1000px) {
    #search-tools {
        justify-content: space-between;
    }

    #filters {
        width: 25vw;
    }

    #results {
        width: 75vw;
    }

    #results .card {
        width: 32vw;
    }
}