* {
    --font-color: rgb(21, 21, 21);
    --main-color: rgb(255, 255, 255);
    --secondary-color: rgb(116, 192, 252);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--font-color);
    margin: 0;
}

body {
    background-color: var(--main-color);
}

header {
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: flex-start;
    padding: 1vw;
    gap: 3vw;
}

i {
    font-size: 3vw;
    color: var(--secondary-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}

#terms-and-conditions {
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}